<h1>Hello, Terry:)</h1>
<h5>
  <p>Thank your for feedback on yesterday's interview.</p>
  <br />
  My manager said about your feedback as follows,
  <br />
  <p>

    I am not having enough knowledge on ASP .NET where i got a rating of 3 out of 10, but it's tough for me to agree,
    because of my experience as a software engineer/developer and my skill sets I got across Philips and other companies.
  </p>
  <p>Yesterday i didn't got a chance to show the demo application project which I created using ASP.NET Core and Angular 8 components, with some small functionality on counter and fetching data.
  So I thought to share this, which is deployed on my git hub page.</p>
  <br />
  <p>  Please let me know your feedback on this.</p>

</h5>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular 8</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

